.wrapper {
    width: calc(100vw - 100px);
    height: 100%;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  
}